@import "tailwindcss";

:root {
  --font-sora: "Sora", sans-serif;
}

body {
  font-family: var(--font-geist-sora);
}

.nav-active::before {
  content: "";
  position: relative;
  top: -2px;
  right: -8px;
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
}
